<div class="notification js-notification">
    <div class="notification__container">
        <div class="notification__rating">
            {{rating}}
        </div>
        <div class="notification__poster" {{#if film_id}}data-section="/film/{{film_id}}/"{{/if}} style="background-image: url('{{poster_ver}}');"></div>
        <div class="notification__data">
            <div class="notification__film-name">
                {{name}}
            </div>
            <div class="notification__description">
                {{description}}
            </div>
            <a href="{{ticket}}" target="_blank" class="notification__button primary-btn-med">
                купить билет
            </a>
        </div>
        <div class="notification__cancel">
            <svg class="notification__cancel-icon js-notification__cancel-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5 4.5L4.5 13.5" stroke="#BFBFBF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4.5 4.5L13.5 13.5" stroke="#BFBFBF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>
