<div class="review">
    <div class="review__container js-review__background">
        <div class="review__meta-info-container">
            <div class="review__user-container">
                <div class="review__user-avatar" style="background-image: url('{{avatar}}');">
                    {{!-- <div class="review__user-avatar-img" ></div> --}}
                </div>
                <div class="review__info-user-container">
                    <div class="review__username">{{username}}</div>
                    <div class="review__user-counter-reviews">{{userCountReviews}} рецензий</div>
                </div>
            </div>
            <div class="review__date">{{date}}</div>
        </div>

        <div class="review__title">{{title}}</div>
        <div class="review__text">{{text}}</div>
    </div>
</div>
