<div class="review">
    <div class="review__container js-review__background " data-type-review="{{type}}">
        <div class="review__meta-info-container">
            <div class="review__user-container">
                <img data-section="/user/{{author.id}}/" class="review__user-avatar" src="{{author.avatar}}">
                <div class="review__info-user-container">
                    <div data-section="/user/{{author.id}}/" class="review__username">{{author.nickname}}</div>
                    <div class="review__user-counter-reviews">{{countReviews}}</div>
                </div>
            </div>
            <div class="review__date">{{date}}</div>
        </div>

        <div class="review__title">{{name}}</div>
        <div class="review__text">{{body}}</div>
    </div>
</div>
