<div class="collection">
    <div class="collection__tittle">{{tittle}}</div>
    <div class="collection__container">

        {{#each films}}
        {{!-- <a href={{href}} class="film__poster" style="background-image: url('{{poster}}');"> --}}
        <div class="film">
            <a href={{href}} class="film__poster" style="background-image: url('{{poster}}');">
            <div class="film__blackout"></div>
            </a>

            <div class="film__rating">{{rating}}</div>
            <div class="film__tittle">{{tittle}}</div>
            <div class="film__info-container">
                <div class="film__genrys">
                    {{#each genrys}}
                    <div class="film__genry">{{this}}&nbsp</div>
                    {{/each}}
                </div>
                <div class="film__decore-circle"></div>
                <div class="film__year">{{year}}</div>
            </div>
            {{!-- </a> --}}
        </div>
        {{!-- </a> --}}
        {{/each}}

    </div>
</div>
