<div class="film js-film">
    <a class="film__link">
        <div class="film__container">
            <div {{#if id}}data-section="/film/{{id}}/"{{/if}} class="film__blackout"></div>
            <div class="film__poster" style="background-image: url('{{poster_ver}}');"></div>
            <div class="film__rating js-film-rating">{{rating}}</div>
            <div class="film__title">{{name}}</div>
            <div class="film__info-container">
                <div class="film__genres">
                    <div class="film__genre">{{genres}}</div>
                </div>
                <div class="film__decore-circle"></div>
                <div class="film__year">{{prod_year}}{{#if end_year}}-{{end_year}}{{/if}} </div>
            </div>
            {{#if isUserCollection}}
            <svg {{#if id}}data-idfilm="{{id}}"{{/if}} class="film__delete-svg" width="20" height="19" viewBox="0 0 20 19" fill="#CD0000" xmlns="http://www.w3.org/2000/svg">
            <path {{#if id}}data-idfilm="{{id}}"{{/if}} d="M6.74993 19H13.0499C14.243 18.9988 15.3868 18.5814 16.2304 17.8394C17.074 17.0974 17.5484 16.0911 17.5498 15.0417V4.35417H18.8998C19.2215 4.35417 19.5186 4.20326 19.6793 3.95833C19.84 3.71341 19.84 3.41159 19.6793 3.16667C19.5186 2.92175 19.2214 2.77083 18.8998 2.77083H13.4999V1.97917C13.4991 1.4545 13.2618 0.951403 12.8402 0.580314C12.4183 0.209398 11.8464 0.00072381 11.2499 0H8.54991C7.95345 0.000706845 7.38152 0.209403 6.95965 0.580314C6.53798 0.951407 6.30076 1.4545 6.29993 1.97917V2.77083H0.89998C0.578353 2.77083 0.281248 2.92174 0.120535 3.16667C-0.0401782 3.41159 -0.0401782 3.71341 0.120535 3.95833C0.281248 4.20325 0.578364 4.35417 0.89998 4.35417H2.24997V15.0417C2.25137 16.0911 2.72588 17.0973 3.56941 17.8394C4.41294 18.5814 5.55685 18.9988 6.74993 19ZM8.09992 1.97917C8.09992 1.76058 8.30141 1.58333 8.54991 1.58333H11.2499C11.3692 1.58333 11.4837 1.62504 11.5681 1.69926C11.6525 1.77347 11.6999 1.8742 11.6999 1.97917V2.77083H8.09992V1.97917ZM15.7499 4.35417V15.0417C15.749 15.6713 15.4644 16.2751 14.9583 16.7204C14.4521 17.1655 13.7657 17.4159 13.0499 17.4167H6.74993C6.03415 17.416 5.34769 17.1656 4.84148 16.7204C4.33544 16.2751 4.05078 15.6713 4.04995 15.0417V4.35417H15.7499Z"/>
            <path {{#if id}}data-idfilm="{{id}}"{{/if}} d="M7.64999 14.6459C7.88865 14.6459 8.11767 14.5625 8.28642 14.414C8.45516 14.2656 8.54998 14.0641 8.54998 13.8542V7.12503C8.54998 6.84212 8.37843 6.58077 8.09999 6.4394C7.82155 6.29803 7.47843 6.29803 7.2 6.4394C6.92156 6.58077 6.75 6.84212 6.75 7.12503V13.8542C6.75 14.0641 6.84482 14.2656 7.01357 14.414C7.18232 14.5625 7.41133 14.6459 7.64999 14.6459Z"/>
            <path {{#if id}}data-idfilm="{{id}}"{{/if}} d="M12.15 14.6459C12.3886 14.6459 12.6177 14.5625 12.7864 14.414C12.9552 14.2656 13.05 14.0641 13.05 13.8542V7.12503C13.05 6.84212 12.8784 6.58077 12.6 6.4394C12.3216 6.29803 11.9784 6.29803 11.7 6.4394C11.4216 6.58077 11.25 6.84212 11.25 7.12503V13.8542C11.25 14.0641 11.3448 14.2656 11.5136 14.414C11.6823 14.5625 11.9113 14.6459 12.15 14.6459Z"/>
            </svg>
            {{/if}}
        </div>
    </a>
</div>
