<div class="film js-film">
    <a class="film__link">
        <div class="film__container">
            <div {{#if id}}data-section="/film/{{id}}/"{{/if}} class="film__blackout"></div>
            <div class="film__poster" style="background-image: url('{{poster_ver}}');"></div>
            <div class="film__rating js-film-rating">{{rating}}</div>
            <div class="film__title">{{name}}</div>
            <div class="film__info-container">
                <div class="film__genres">
                    {{#each genres}}
                    <div class="film__genre">{{this}}&nbsp</div>
                    {{/each}}
                </div>
                <div class="film__decore-circle"></div>
                <div class="film__year">{{prod_year}}{{#if end_year}}-{{end_year}}{{/if}} </div>
            </div>
        </div>
    </a>
</div>
