<div class="film">
    <a href="/film/id/{{film_id}}" class="film__link">
        <div class="film__container">
            <div class="film__blackout"></div>
            <div class="film__poster" style="background-image: url('http://movie-gate.online:8088/v1/image?object=film_poster_ver&key={{poster_ver}}');"></div>
            <div class="film__rating">{{ratio}}</div>
            <div class="film__title">{{film_name}}</div>
            <div class="film__info-container">
                <div class="film__genres">
                    {{#each genres}}
                    <div class="film__genre">{{this}}&nbsp</div>
                    {{/each}}
                </div>
                <div class="film__decore-circle"></div>
                <div class="film__year">{{year_prod}}</div>
            </div>
        </div>
    </a>
</div>
