<div class="collection">
    <div class="collection__tittle">{{tittle}}</div>
    <div class="collection__container">

        {{#each films}}
        <div class="film">
            <a href={{href}}>
                <img class="film__poster" src={{poster}}>
            </a>

            <div class="film__rating">{{rating}}</div>
            <div class="film__tittle">{{tittle}}</div>
            <div class="film__info-container">
                <div class="film__genry">{{genrys}}</div>
                <div class="film__decore-circle"></div>
                <div class="film__year">{{year}}</div>
            </div>
        </div>
        {{/each}}

        {{!-- <div class="film">
            <a href={{href}}>
                <img class="film__poster" src={{poster}}>
            </a>

            <div class="film__rating">{{rating}}</div>
            <div class="film__tittle">{{tittle}}</div>
            <div class="film__info-container">
                <div class="film__genry">{{genrys}}</div>
                <div class="film__decore-circle"></div>
                <div class="film__year">{{year}}</div>
            </div>
        </div>

        <div class="film">
            <a href={{href}}>
                <img class="film__poster" src={{poster}}>
            </a>

            <div class="film__rating">{{rating}}</div>
            <div class="film__tittle">{{tittle}}</div>
            <div class="film__info-container">
                <div class="film__genry">{{genrys}}</div>
                <div class="film__decore-circle"></div>
                <div class="film__year">{{year}}</div>
            </div>
        </div> --}}

    </div>
</div>
