<div class="person-med js-person-med">
    <div class="person-med__actor">
        <div class="person-med__actor__container">
            <a data-section="/person/{{id}}/">
                <div data-section="/person/{{id}}/" class="person-med__actor__blackout"></div>
                <div data-section="/person/{{id}}/" class="person-med__actor__photo" style="background-image: url('{{avatar}}');"></div>
            </a>
            <div class="person-med__actor__info-container">
                <div class="person-med__actor__main-info">
                    <div class="person-med__actor__name">{{name}}</div>
                    <div class="person-med__actor__info-item">{{year}}</div>
                </div>

                <div class="person-med__actor__prof-info">
                    <div class="person-med__actor__info-item">{{professions}}</div>
                </div>

                <div class="person-med__actor__common-info">
                    <div class="person-med__actor__info-item">{{age}}</div>
                    <div class="person-med__actor__info-item">{{count_films}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
