<div class="premiere-film js-premiere-film">
    {{!-- <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{name}} очень классный фильм.
    </div>
    <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{year_prod}}
    </div>
    <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{#each genres}} {{this}} {{/each}}
    </div>
    <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{directors}}
    </div>
    <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{description}}
    </div>
    <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{duration}}
    </div>
    <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{#each countries}} {{this}} {{/each}}
    </div>
    <div class="premiere-film-qqq" style="color:aquamarine; font-size:32px">
        {{rating}}
    </div> --}}
</div>
