<div class="actor-profile">
    <div class="actor-profile__content">
        <div class="actor-profile__primary">
            <img class="actor-profile__image" src="{{{avatar}}}">
            <div class="actor-profile__information">
                <div class="actor-profile__name">{{name}}</div>
                <div class="actor-profile__original-name">{{original_name}}</div>
                <div class="actor-profile__about">
                    О персоне
                </div>
                <div class="actor-profile__about-item">
                    <div class="actor-profile__about-item-key">
                        Карьера:
                    </div>
                    <div class="actor-profile__about-item-value">
                        {{professions}}
                    </div>
                </div>
                <div class="actor-profile__about-item">
                    <div class="actor-profile__about-item-key">
                        Дата рождения:
                    </div>
                    <div class="actor-profile__about-item-value">
                        {{birthday}}
                    </div>
                </div>
                {{#if growth}}
                <div class="actor-profile__about-item">
                    <div class="actor-profile__about-item-key">
                        Рост:
                    </div>
                    <div class="actor-profile__about-item-value">
                        {{growth}}&nbsp;м
                    </div>
                </div>
                {{/if}}
                <div class="actor-profile__about-item">
                    <div class="actor-profile__about-item-key">
                        Всего фильмов:
                    </div>
                    <div class="actor-profile__about-item-value">
                        {{count_films}}
                    </div>
                </div>
            </div>
        </div>
        {{#if images}}
        <div class="actor-profile__gallery">
            <div class="actor-profile__gallery__title">Галлерея</div>
            {{#each images}}
            <img class="actor-profile__gallery-item" src="{{{this}}}">
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>