<div class="actor-profile">
    <div class="actor-profile__content">
    <div class="actor-profile__primary">
        <div class="actor-profile__image" style="background-image: url('{{avatar}}')"></div>
        <div class="actor-profile__information">
            <div class="actor-profile__name">{{name}}</div>
            <div class="actor-profile__original-name">{{original_name}}</div>
            <div class="actor-profile__about">
                О персоне
            </div>
            <div class="actor-profile__about-item">
                <div class="actor-profile__about-item-key">
                    Карьера:
                </div>
                <div class="actor-profile__about-item-value">
                    {{professions}}
                </div>
            </div>
            <div class="actor-profile__about-item">
                <div class="actor-profile__about-item-key">
                    Дата рождения:
                </div>
                <div class="actor-profile__about-item-value">
                    {{birthday}}
                </div>
            </div>
            <div class="actor-profile__about-item">
                <div class="actor-profile__about-item-key">
                    Рост:
                </div>
                <div class="actor-profile__about-item-value">
                    {{growth}}
                </div>
            </div>
            <div class="actor-profile__about-item">
                <div class="actor-profile__about-item-key">
                    Всего фильмов:
                </div>
                <div class="actor-profile__about-item-value">
                    {{count_films}}
                </div>
            </div>
        </div>
    </div>
    {{#if images}}
    <div class="actor-profile__gallery">
        <div class="actor-profile__gallery__container">
            {{#each images}}
                <div class="actor-profile__gallery-item" style="background-image: url('{{this}}')"></div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    </div>
</div>
