<header class="header js-header">

  {{#if isMobile}}
  <div class="js-header__menu-mobile__area">
    <div class="js-header__menu-mobile__target">
      <svg class="js-header__menu-mobile__svg" width="35" height="35" viewBox="0 0 35 35" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1122_4918)">
          <path
            d="M4.2002 0.31311C1.9433 0.31311 0.107422 2.14912 0.107422 4.40589C0.107422 6.66266 1.94254 8.49854 4.2002 8.49854C6.45786 8.49854 8.29298 6.66266 8.29298 4.40589C8.29298 2.14912 6.45697 0.31311 4.2002 0.31311Z"
            fill="#CCCCCC" />
          <path
            d="M17.4463 0.31311C15.1895 0.31311 13.3535 2.14912 13.3535 4.40589C13.3535 6.66266 15.1895 8.49854 17.4463 8.49854C19.7032 8.49854 21.5395 6.66266 21.5395 4.40589C21.5395 2.14912 19.7039 0.31311 17.4463 0.31311Z"
            fill="#CCCCCC" />
          <path
            d="M30.9072 8.49866C33.1636 8.49866 35 6.66278 35 4.40601C35 2.14925 33.1651 0.31311 30.9072 0.31311C28.6493 0.31311 26.8145 2.14912 26.8145 4.40589C26.8145 6.66266 28.6507 8.49866 30.9072 8.49866Z"
            fill="#CCCCCC" />
          <path
            d="M4.09354 21.6132C6.35031 21.6132 8.1867 19.7777 8.1867 17.5205C8.1867 15.2633 6.35031 13.4274 4.09354 13.4274C1.83677 13.4274 0 15.2634 0 17.5205C0 19.7777 1.83677 21.6132 4.09354 21.6132Z"
            fill="#CCCCCC" />
          <path
            d="M17.3398 21.6132C19.5962 21.6132 21.4326 19.7777 21.4326 17.5205C21.4326 15.2633 19.5978 13.4274 17.3398 13.4274C15.0823 13.4274 13.2471 15.2633 13.2471 17.5205C13.2471 19.7777 15.0831 21.6132 17.3398 21.6132Z"
            fill="#CCCCCC" />
          <path
            d="M30.8013 21.6132C33.0586 21.6132 34.8941 19.7777 34.8941 17.5205C34.8941 15.2633 33.0586 13.4274 30.8013 13.4274C28.5441 13.4274 26.707 15.2633 26.707 17.5205C26.707 19.7777 28.5434 21.6132 30.8013 21.6132Z"
            fill="#CCCCCC" />
          <path
            d="M4.18729 26.5012C1.93052 26.5012 0.09375 28.3367 0.09375 30.594C0.09375 32.8504 1.93052 34.6866 4.18729 34.6866C6.44406 34.6866 8.27994 32.8513 8.27994 30.594C8.27994 28.3367 6.44406 26.5012 4.18729 26.5012Z"
            fill="#CCCCCC" />
          <path
            d="M17.4344 26.5012C15.1775 26.5012 13.3408 28.3367 13.3408 30.594C13.3408 32.8504 15.1768 34.6866 17.4344 34.6866C19.6907 34.6866 21.527 32.8513 21.527 30.594C21.527 28.3367 19.6907 26.5012 17.4344 26.5012Z"
            fill="#CCCCCC" />
          <path
            d="M30.8945 26.5012C28.6381 26.5012 26.8018 28.3367 26.8018 30.594C26.8018 32.8504 28.6381 34.6866 30.8945 34.6866C33.1518 34.6866 34.9873 32.8513 34.9873 30.594C34.9873 28.3367 33.1509 26.5012 30.8945 26.5012Z"
            fill="#CCCCCC" />
        </g>
        <defs>
          <clipPath id="clip0_1122_4918">
            <rect width="35" height="35" fill="white" />
          </clipPath>
        </defs>
      </svg>
      <div class="js-header__mobile-userbar">
        <div class="js-header__mobile-userbar__header">Меню</div>
        <div class="js-header__mobile-userbar__link" data-section="/">Главная</div>
        <div class="js-header__mobile-userbar__link" data-section="/collection/tag-popular/">Популярное</div>
        <div class="js-header__mobile-userbar__link" data-section="/user/collections/">Коллекции</div>
        <div class="js-header__mobile-userbar__link" data-section="/premieres/">Премьеры</div>
        <div class="js-header__mobile-userbar__link" data-section="/profile/">Профиль</div>
        <a class="js-header__mobile-userbar__link-out" data-section="logout">Выйти</a>
        <img class="header__logo js-header__mobile-userbar__logo" data-section="/" src="/LogoMOVIEGATE.png">
      </div>
    </div>

    <form class="header__form header__form__mobile js-header-search" style="{display: none;}">
      <input class="header__form__input header__form__input__mobile js-header__form__input" maxlength="100" data-search-input type="text"
        placeholder="фильмы, передачи, персоны.." aria-label="Search">
      <img class="header__form__icon-search js-header__form__icon-search_input-full">
    </form>
  {{else}}
    <a class="header__navlink" data-section="/">
      <img class="header__logo" data-section="/" src="/LogoMOVIEGATE.png">
    </a>
    <a class="header__navlink js-header__navlink-my-films">
      <div data-section="/collection/tag-popular/" class="header__navlink-area">Популярное</div>
    </a>
    <a class="header__navlink js-header__navlink-my-colls" data-section="navlink">
      <div data-section="/user/collections/" class="header__navlink-area">Коллекции</div>
    </a>
    <a class="header__navlink js-header__navlink-top-250">
      <div class="header__navlink-area" data-section="/premieres/">Премьеры</div>
    </a>
  {{/if}}

  {{#if isMobile}}
  {{else}}
    <form class="header__form js-header-search">
      <input class="header__form__input js-header__form__input" maxlength="100" data-search-input type="text"
        placeholder="фильмы, передачи, персоны.." aria-label="Search">
      <img class="header__form__icon-search">
    </form>
  {{/if}}

    {{#if avatar}}
      {{#if isMobile}}
      <img class="header__form__icon-mobile-search js-mobile-search">
      <div class="js-header__mobile-userbar-substrate">
      {{else}}
      <div class="header__userbar-substrate js-header__userbar-substrate">
      {{/if}}
        <div class="header__userbar-user-info-container js-header__userbar-user-info-container">
        <img class="header__avatar" data-section="/profile/" src="{{avatar}}" alt="">
        {{#if isMobile}}
        {{else}}
          {{#if email}}
          <div class="header__userbar-name-container">
            <div class="header__userbar-name">{{nickname}}</div>
            <div class="header__userbar-email">{{email}}</div>
          </div>
          {{/if}}
        </div>
          {{#if userbar}}
          {{{userbar}}}
          {{/if}}
        {{/if}}
        </div>
        {{else}}
        {{#if isMobile}}
          <img class="header__form__icon-mobile-search js-mobile-search">
        {{/if}}
        <a class="primary-btn-med header__login__btn js-header__login__btn" data-section="/login/">Войти</button>
      {{/if}}

</header>