<header class="header js-header">

  {{#if mobile}}
  {{else}}
  <a class="header__navlink" data-section="/">
    <img class="header__logo" data-section="/" src="/LogoMOVIEGATE.png">
  </a>
  <a class="header__navlink js-header__navlink-my-films" data-section="navlink">
    <div class="header__navlink-area js-showError">Мои фильмы</div>
  </a>
  <a class="header__navlink js-header__navlink-my-colls" data-section="navlink">
    <div class="header__navlink-area js-showError">Коллекции</div>
  </a>
  <a class="header__navlink js-header__navlink-top-250" data-section="navlink">
    <div class="header__navlink-area js-showError">Топ-250</div>
  </a>
  {{/if}}


  <form class="header__form">

    <input class="header__form__input" maxlength="100" type="search" placeholder="фильмы, передачи, персоны.."
      aria-label="Search">
    <img class="header__form__icon-search">

  </form>

  {{#if avatar}}
  <div class="header__userbar-substrate js-header__userbar-substrate">
    <div class="header__userbar-user-info-container js-header__userbar-user-info-container">
      <img class="header__avatar" data-section="/profile/" src="{{avatar}}" alt="">
      {{#if email}}
      <div class="header__userbar-name-container">
        <div class="header__userbar-name">{{nickname}}</div>
        <div class="header__userbar-email">{{email}}</div>
      </div>
      {{/if}}
    </div>
    {{#if userbar}}
    {{{userbar}}}
    {{/if}}
  </div>
  {{else}}
  <a class="primary-btn-med header__login__btn" data-section="/login/">Войти</button>
    {{/if}}

</header>