<div class="user-collection">
    <div class="user-collection__container">
        <div class="user-collection__poster-container">
            <div  class="user-collection__blackout" {{#if id}}data-section="/user/collection/{{id}}/"{{/if}}></div>
            <div class="user-collection__poster" style="background-image: url('{{poster}}');"></div>
            <div class="user-collection__icon-enter">
                    <svg {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M41.291 4.16675H8.70768C6.19939 4.16675 4.16602 6.20012 4.16602 8.70841V41.2917C4.16602 43.8 6.19939 45.8334 8.70768 45.8334H41.291C43.7993 45.8334 45.8327 43.8 45.8327 41.2917V8.70841C45.8327 6.20012 43.7993 4.16675 41.291 4.16675Z" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M14.584 4.16675V45.8334" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M35.416 4.16675V45.8334" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M4.16602 25H45.8327" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M4.16602 14.5833H14.5827" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M4.16602 35.4167H14.5827" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M35.416 35.4167H45.8327" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M35.416 14.5833H45.8327" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </div>
            <div class="user-collection__statistic">
                <div class="user-collection__icon-films">
                    <svg {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M23 7L16 12L23 17V7Z" stroke="#E0E0E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path {{#if id}}data-section="/user/collection/{{id}}/"{{/if}} d="M14 5H3C1.89543 5 1 5.89543 1 7V17C1 18.1046 1.89543 19 3 19H14C15.1046 19 16 18.1046 16 17V7C16 5.89543 15.1046 5 14 5Z" stroke="#E0E0E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="user-collection__count-films">{{count_films}}</div>
            </div>
        </div>
        <div class="user-collection__title">{{name}}</div>
        <div class="user-collection__create-time">{{create_time}}</div>
    </div>
</div>
