<div class="film-page">
    {{{about}}}
    <div class="film-page__content-container">
        <div class="film-page__description">
            {{{description}}}
        </div>
        <div class="film-page__rating">
            {{{rating}}}
        </div>
        <div class="film-page__recomendations">
            {{{collectionLikely}}}
            {{{collectionDirector}}}
        </div>
        <div class="film-page__review-container">
            {{{reviewInfo}}}
            {{{reviews}}}
        </div>
    </div>
</div>
